[MASTER]
persistent=yes

[MESSAGES CONTROL]
# C0111 = Missing docstring 
# I0011 =  # Warning locally suppressed using disable-msg
# I0012 =  # Warning locally suppressed using disable-msg
disable=I0011,I0012

[REPORTS]
output-format=parseable
include-ids=no

[TYPECHECK]

# Tells whether missing members accessed in mixin class should be ignored. A
# mixin class is detected if its name ends with "mixin" (case insensitive).
ignore-mixin-members=yes

# List of classes names for which member attributes should not be checked
# (useful for classes with attributes dynamically set).
ignored-classes=SQLObject

# When zope mode is activated, add a predefined set of Zope acquired attributes
# to generated-members.
zope=no

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E0201 when accessed.
generated-members=REQUEST,acl_users,aq_parent


[VARIABLES]
init-import=no


[SIMILARITIES]
min-similarity-lines=4
ignore-comments=yes
ignore-docstrings=yes


[MISCELLANEOUS]
notes=FIXME,XXX,TODO


[FORMAT]
max-line-length=160
max-module-lines=500
indent-string='    '


[DESIGN]
max-args=5
max-locals=15
max-returns=6
max-branchs=12
max-statements=50
max-parents=7
max-attributes=7
min-public-methods=0
max-public-methods=20

